@import '../../assets/scss/Colors.scss';
@import '../../assets/scss/CommonStyle.scss';

.header {
    background-color: $header-grey;

    .inner{
        @include content;

        display: flex;
        justify-content: space-between;

        .control {
            display: flex;

            .loginBtn {
                width: 152px;
                height: 32px;
                background-color: $btn-grey;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 22px;
                text-decoration: none;
                color: #000;
                margin: {
                    top: 6px;
                    right: 8px;
                    bottom: 6px;
                };
            }
        }

        .logo {
            padding: {
                top: 14px;
                // bottom: 12px;
            };
        }
    }
    
}