@import '../../../assets/scss/Colors.scss';
@import '../../../assets/scss/Buttons.scss';
@import '../../../assets/scss/CommonStyle.scss';

.contentWrapper {
    @include content;
    padding: {
		top: 100px;
	}

	.loginWrapper {
		max-width: 504px;
		margin: {
			left: 176px;
		};

		.login {
			padding: {
				top: 30px;
			};

			.loginInput {
				padding: {
					top: 8px;
					bottom: 8px;
					left: 40px;
					right: 8px;
				};
				border: 1px solid #4f4f4f;

				&::placeholder {
					color: #828282;
				}
			}

			.footer {
				display: flex;
				justify-content: space-between;
				align-items: center;

				.remember {
					font-size: 12px;
					font-weight: 400;
					color: #4F4F4F;
					text-decoration: underline;
					height: 100%;
					margin-left: 20px;
				}
				.loginBtn {
					@include button;
				}
			}
			
		}
	}
	
}

