@import '../../../assets/scss/Colors.scss';

.switcherBtn {
    font-size: 20px;
    line-height: 24px;
    padding: {
        bottom: 4px;
    };
    border: {
        bottom: 4px solid rgba(0, 0, 0, 0);
    };

    &:last-of-type {
        margin: {
            left: 24px;
        };
    }

    &.active {
        border: {
            bottom: 4px solid black;
        };
    }
}

.dropdown {

    .header {
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
        cursor: pointer;
    }

    .body {
        &.active {
            display: none;
        }
    }
}