@import '../../../assets/scss/Colors.scss';
@import '../../../assets/scss/CommonStyle.scss';

.switcherBtns {
    display: flex;

    .switcherBtn {
        @include h5;
        font-size: 20px;
        line-height: 24px;
        padding: {
            bottom: 4px;
        };
        border: {
            bottom: 4px solid rgba(0, 0, 0, 0);
        };
        color: #828282;

        &:last-of-type {
            margin: {
                left: 24px;
            };
        }

        &.active {
            color: #000;
            border: {
                bottom: 4px solid black;
            };
        }
    }
}

.dropdown {

    .header {
        cursor: pointer;
        display: inline-flex;
    }

    .body {
        &.active {
            display: none;
        }
    }
}