@import '../../assets/scss/Colors.scss';
@import '../../assets/scss/CommonStyle.scss';
@import '../../assets/scss/Buttons.scss';

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 24px;
    row-gap: 24px;
    margin-top: 24px;

    .preview {
        height: 240px;

        .wrapper {   
            text-decoration: none;
            

            .header {
                position: relative;
                height: 110px;
                padding: 21px 25px;
                background-repeat: no-repeat;
                background-size: cover;
                
                &:after {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    background: rgba(101, 101, 101, 0.65);
                    z-index: 2;
                }

                .image {
                    // display: none;
                    position: absolute;
                    width: 100%;
                    left: 0;
                    top: 0;
                    z-index: 0;
                }

                .name {
                    @include h5;
                    position: relative;
                    z-index: 3;
                    color: #fff;
                    text-decoration: none;
                    
                }
            }

            .footer {
                @include txtDesc;
                position: relative;
                height: 130px;
                background-color: #C4C4C4;
                padding: {
                    top: 23px;
                    left: 25px;
                    right: 45px;
                };
                .details {
                    
                    position: absolute;
                    bottom: 16px;
                    color: #4F4F4F;
                }
            }
        }
    }
}

.bold {
    font-weight: 700;
}

.course {
    @include content; 
    .header {
        @include h2;
        margin-top: 112px;
    }
    
    .body {

        
        display: grid;
        grid-template-columns: 75% 22.5%;
        column-gap: 24px;
        .main {
            .desc {
                @include txtRegular;
                margin: {
                    top: 40px;
                    bottom: 24px;
                }
                height: 168px;

                
            }
            & ::selection {
                background: #ffb7b7;
            }

            .enter {
                @include button;
                background-color: #AFF1CB;
                margin-bottom: 80px;
            }
            
            .details {
                padding-bottom: 24px;

                .item {
                    margin-bottom: 8px;
                }
            }

            .switcher {
                padding: {
                    right: 87px
                };
            }

            .comments {
                margin-top: 40px;
                
                .CourseComment {
                    position: relative;
                    display: flex;

                    margin: {
                        bottom: 16px;
                    };

                    .commentBody {
                        padding: {
                            left: 23px;
                            bottom: 24px;
                        };
                        min-width: calc(100% - 64px);

                        .commentHeader {
                            display: flex;
                            justify-content: space-between;
                            margin-bottom: 16px;

                            .CourseCommentAuthor {
                                @include h6;
                            }
                            .CourseCommentRating {
                                @include txtDesc;
                            }
                        }

                        .CourseCommentText {
                            @include txtRegular;
                            padding: 8px;

                            
                            background-color: #F2F2F2;
                        }
                    }

                    .CourseCommentDate {
                        @include txtNinja;
                        position: absolute;
                        right: 0;
                        bottom: 0;
                    }
                }
            }
            
        }
        .right {
            margin: {
                top: 40px;
            }

            .pic {
                margin: {
                    bottom: 18px;
                };
                max-width: 100%;
            }
        }
    }

    .CourseAuthors {
        
        .AuthorsHeader {
            @include h6;
            margin-bottom: 16px;
        }

        .CourseAuthor {
            display: flex;

            margin: {
                bottom: 16px;
            };

            .CourseAuthorPic {
                height: 75px;
                width: 64px;
                margin-right: 24px;
            }

            .CourseAuthorName {
                font-weight: 700;
                font-size: 12px;
                line-height: 14.6px;

                .CourseAuthorNick {
                    margin-top: 8px;
                    @include txtNinja;
                }
            }
        }
    }
    
}

.switcherBtns {
    justify-content: space-between;
}