@import './assets/scss/Colors.scss';
@import './assets/scss/Reset.scss';
@import './assets/scss/CommonStyle.scss';

body {
	font-family: 'Montserrat';
}

div {
    box-sizing: border-box;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

h1 {
    font-size: 36px;
    font-family: 'Montserrat Bold';
}

h2 {
    font-size: 32px;
    font-family: 'Montserrat Semi Bold';
}

h3 {
    font-size: 24px;
    font-family: 'Montserrat Black';
}

h4 {
    font-size: 24px;
    font-family: 'Montserrat Semi Bold';
}

h5 {
    font-size: 20px;
    font-family: 'Montserrat Bold';
}

h6 {
    font-size: 18px;
    font-family: 'Montserrat Semi Bold';
}

.app-content {
	display: flex;

	& .content {
		position: relative;
		width: 100%;
		padding: 30px;
		box-sizing: border-box;
		// height: calc(100vh - 65px);
		display: flex;
		flex-direction: column;
	}
}

::-webkit-scrollbar {
	width: 5px;
	height: 5px;
	margin-left: 5px;
}

/* Track */
::-webkit-scrollbar-track {
	background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #1e1f2044;
	border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	opacity: .5;
}

.errorText {
	// color: $dark_red;
	// white-space: nowrap;
	// font-weight: normal;
	// font-size: 12px;
	// font-weight: bold;
}


